@font-face {
    font-family: 'Century';
    src: url('Century\ Normal.ttf');
}

.century {
    font-family: 'Century', 'Times New Roman', Times, serif;
}

h1 {
    text-shadow: 0 0 0.25em black;
}

h1, h2, h3, h4, h5 {
    font-family: Century;
}

ul {
    list-style-type: circle;
}

.rip {
    color: black;
    text-shadow: 0 0 1em yellow;
    font-family: Century;
}

hr {
    height: 2px;
    background: grey;
    border: 0;
}

/* Declaration */
.exhibits ul {
    list-style-type: none;
}

.exhibits li {
    margin-bottom: 1em;    
}