
body {
    background: #111;
    color: #888;
    font-family: Calibri;
    font-size: 12px;
}

main {
    max-width: 800px;
    margin: auto;
}

h1, h2, h3 {
    text-align: center;
    font-family: 'Century Black', 'Times New Roman', Times, serif;
    text-shadow: 0 0 0.1em #777;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-family: 1.5em;
}

h4 {
    font-family: 'Century Black', 'Times New Roman', Times, serif;
}

a {
    color: cyan;
}

strong {
    font-family: 'Times New Roman', Times, serif;
}

.disclaimer {
    font-family: 'Century Black', 'Times New Roman', Times, serif;
    border: 2px solid yellow;
    padding: 0 1.2em .25em 1.2em;
}

.disclaimer h3 {
    color: yellow;
}

blockquote {
    word-break: break-all;
}

.tm {
    font-family: 'Roboto', monospace;
    font-weight: thin;
}

aside {
    font-size: 1em;
    font-style: italic;
    padding-left: 1.5em;
}

.rip {
    color: black;
    text-shadow: 0 0 1em yellow;
}

hr {
    height: 2px;
    background: grey;
    border: 0;
}

.appendix {
    text-align: left;
}

details {
    margin-bottom: 1em;
    border: 1px darkblue solid;
    padding: .25em;
    border-radius: .25em;
}

article {
    padding-left: 1em;
}

img {
    width: 100%;
    border: 1px black solid;
    margin: auto;
}

.dialog {
    margin: 0.25em 2em;
}

.rip {
    font-family: 'Times New Roman', Times, serif;
}

.exhibits ul {
    font-family: Century, 'Times New Roman', serif;
    list-style-type: none;
}

.exhibits li {
    margin-bottom: 1em;    
}