
body {
    background: linear-gradient(#789, #456, #789);
}

h1 {
    text-align: center;
    font-family: 'Yatra One';
}

section {
    max-width: 800px;
    margin: auto;
}

.preamble  {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sc-docs-list {
    /* margin-top: 1em; */
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

li {
    margin-bottom: 1em;
}

.img-container img {
    width: 100%;
    border: 1px black solid;
}

/*
<style type="text/css">@import url(https://themes.googleusercontent.com/fonts/css?kit=fpjTOVmNbO4Lz34iLyptLUXza5VhXqVC6o75Eld_V98);.lst-kix_z4qs3dseu2-5>li:before{content:"\0025a0   "}
.lst-kix_n1m29nrfec71-4>li{counter-increment:lst-ctn-kix_n1m29nrfec71-4}
.lst-kix_z4qs3dseu2-7>li:before{content:"\0025cb   "}
.lst-kix_z4qs3dseu2-3>li:before{content:"\0025cf   "}
.lst-kix_z4qs3dseu2-6>li:before{content:"\0025cf   "}
ol.lst-kix_rgwm73280esx-0.start{counter-reset:lst-ctn-kix_rgwm73280esx-0 0}
.lst-kix_z4qs3dseu2-1>li:before{content:"\0025cb   "}
.lst-kix_z4qs3dseu2-2>li:before{content:"\0025a0   "}
.lst-kix_z4qs3dseu2-0>li:before{content:"\0025cf   "}
ol.lst-kix_up96jaosvpq6-3.start{counter-reset:lst-ctn-kix_up96jaosvpq6-3 0}
.lst-kix_z4qs3dseu2-8>li:before{content:"\0025a0   "}
ol.lst-kix_eyo29nst4irj-8.start{counter-reset:lst-ctn-kix_eyo29nst4irj-8 0}
ol.lst-kix_3b2zck8uluwc-2.start{counter-reset:lst-ctn-kix_3b2zck8uluwc-2 0}
.lst-kix_z4qs3dseu2-4>li:before{content:"\0025cb   "}
.lst-kix_up96jaosvpq6-0>li:before{content:"" counter(lst-ctn-kix_up96jaosvpq6-0,decimal) ". "}
.lst-kix_up96jaosvpq6-2>li:before{content:"" counter(lst-ctn-kix_up96jaosvpq6-2,lower-roman) ". "}
.lst-kix_up96jaosvpq6-1>li:before{content:"" counter(lst-ctn-kix_up96jaosvpq6-1,lower-latin) ". "}
.lst-kix_up96jaosvpq6-3>li:before{content:"" counter(lst-ctn-kix_up96jaosvpq6-3,decimal) ". "}
ul.lst-kix_kyjiir3phey-3{list-style-type:none}
.lst-kix_up96jaosvpq6-6>li:before{content:"" counter(lst-ctn-kix_up96jaosvpq6-6,decimal) ". "}
ul.lst-kix_kyjiir3phey-2{list-style-type:none}
ul.lst-kix_kyjiir3phey-1{list-style-type:none}
.lst-kix_up96jaosvpq6-5>li:before{content:"" counter(lst-ctn-kix_up96jaosvpq6-5,lower-roman) ". "}
.lst-kix_up96jaosvpq6-7>li:before{content:"" counter(lst-ctn-kix_up96jaosvpq6-7,lower-latin) ". "}
ul.lst-kix_kyjiir3phey-0{list-style-type:none}
ul.lst-kix_kyjiir3phey-7{list-style-type:none}
.lst-kix_up96jaosvpq6-4>li:before{content:"" counter(lst-ctn-kix_up96jaosvpq6-4,lower-latin) ". "}
.lst-kix_up96jaosvpq6-8>li:before{content:"" counter(lst-ctn-kix_up96jaosvpq6-8,lower-roman) ". "}
ul.lst-kix_kyjiir3phey-6{list-style-type:none}
ul.lst-kix_kyjiir3phey-5{list-style-type:none}
ul.lst-kix_kyjiir3phey-4{list-style-type:none}
ul.lst-kix_kyjiir3phey-8{list-style-type:none}
.lst-kix_up96jaosvpq6-8>li{counter-increment:lst-ctn-kix_up96jaosvpq6-8}
.lst-kix_bpz23tgwzuut-1>li{counter-increment:lst-ctn-kix_bpz23tgwzuut-1}
ol.lst-kix_bpz23tgwzuut-3{list-style-type:none}
ol.lst-kix_bpz23tgwzuut-2{list-style-type:none}
ol.lst-kix_bpz23tgwzuut-5{list-style-type:none}
ol.lst-kix_rgwm73280esx-5.start{counter-reset:lst-ctn-kix_rgwm73280esx-5 0}
.lst-kix_iiz9vtgnyyiq-3>li:before{content:"\0025cf   "}
ol.lst-kix_bpz23tgwzuut-4{list-style-type:none}
ol.lst-kix_up96jaosvpq6-8.start{counter-reset:lst-ctn-kix_up96jaosvpq6-8 0}
.lst-kix_eyo29nst4irj-5>li{counter-increment:lst-ctn-kix_eyo29nst4irj-5}
ol.lst-kix_bpz23tgwzuut-1{list-style-type:none}
.lst-kix_iiz9vtgnyyiq-2>li:before{content:"\0025a0   "}
ol.lst-kix_bpz23tgwzuut-0{list-style-type:none}
.lst-kix_rgwm73280esx-6>li{counter-increment:lst-ctn-kix_rgwm73280esx-6}
.lst-kix_iiz9vtgnyyiq-1>li:before{content:"\0025cb   "}
ol.lst-kix_bpz23tgwzuut-7{list-style-type:none}
ol.lst-kix_bpz23tgwzuut-6{list-style-type:none}
.lst-kix_iiz9vtgnyyiq-0>li:before{content:"\0025cf   "}
ol.lst-kix_bpz23tgwzuut-8{list-style-type:none}
ul.lst-kix_o51t03xp34y-0{list-style-type:none}
.lst-kix_rgwm73280esx-2>li{counter-increment:lst-ctn-kix_rgwm73280esx-2}
ul.lst-kix_o51t03xp34y-2{list-style-type:none}
ul.lst-kix_o51t03xp34y-1{list-style-type:none}
ul.lst-kix_o51t03xp34y-4{list-style-type:none}
ul.lst-kix_o51t03xp34y-3{list-style-type:none}
ul.lst-kix_o51t03xp34y-6{list-style-type:none}
ul.lst-kix_o51t03xp34y-5{list-style-type:none}
ul.lst-kix_o51t03xp34y-8{list-style-type:none}
ul.lst-kix_o51t03xp34y-7{list-style-type:none}
ol.lst-kix_eyo29nst4irj-3.start{counter-reset:lst-ctn-kix_eyo29nst4irj-3 0}
.lst-kix_n1m29nrfec71-8>li{counter-increment:lst-ctn-kix_n1m29nrfec71-8}
.lst-kix_up96jaosvpq6-1>li{counter-increment:lst-ctn-kix_up96jaosvpq6-1}
ol.lst-kix_bpz23tgwzuut-1.start{counter-reset:lst-ctn-kix_bpz23tgwzuut-1 0}
.lst-kix_2kd6hxpvjxik-0>li:before{content:"\0025cf   "}
.lst-kix_2kd6hxpvjxik-2>li:before{content:"\0025a0   "}
ol.lst-kix_3b2zck8uluwc-4.start{counter-reset:lst-ctn-kix_3b2zck8uluwc-4 0}
.lst-kix_up96jaosvpq6-5>li{counter-increment:lst-ctn-kix_up96jaosvpq6-5}
.lst-kix_16wbt3pr9zax-5>li:before{content:"\0025a0   "}
ol.lst-kix_up96jaosvpq6-7{list-style-type:none}
.lst-kix_2kd6hxpvjxik-4>li:before{content:"\0025cb   "}
ol.lst-kix_up96jaosvpq6-8{list-style-type:none}
ol.lst-kix_up96jaosvpq6-5{list-style-type:none}
ol.lst-kix_up96jaosvpq6-6{list-style-type:none}
.lst-kix_16wbt3pr9zax-3>li:before{content:"\0025cf   "}
.lst-kix_2kd6hxpvjxik-8>li:before{content:"\0025a0   "}
ol.lst-kix_up96jaosvpq6-0{list-style-type:none}
.lst-kix_eyo29nst4irj-6>li:before{content:"" counter(lst-ctn-kix_eyo29nst4irj-6,decimal) ". "}
ol.lst-kix_up96jaosvpq6-3{list-style-type:none}
.lst-kix_2kd6hxpvjxik-6>li:before{content:"\0025cf   "}
ol.lst-kix_up96jaosvpq6-4{list-style-type:none}
ol.lst-kix_up96jaosvpq6-1{list-style-type:none}
.lst-kix_16wbt3pr9zax-1>li:before{content:"\0025cb   "}
ol.lst-kix_up96jaosvpq6-2{list-style-type:none}
.lst-kix_iiz9vtgnyyiq-5>li:before{content:"\0025a0   "}
.lst-kix_eyo29nst4irj-8>li:before{content:"" counter(lst-ctn-kix_eyo29nst4irj-8,lower-roman) ". "}
.lst-kix_iiz9vtgnyyiq-7>li:before{content:"\0025cb   "}
ol.lst-kix_rgwm73280esx-2.start{counter-reset:lst-ctn-kix_rgwm73280esx-2 0}
ul.lst-kix_511tz3o7zehv-8{list-style-type:none}
.lst-kix_n1m29nrfec71-6>li:before{content:"" counter(lst-ctn-kix_n1m29nrfec71-6,decimal) ". "}
.lst-kix_n1m29nrfec71-4>li:before{content:"" counter(lst-ctn-kix_n1m29nrfec71-4,lower-latin) ". "}
.lst-kix_eyo29nst4irj-4>li:before{content:"" counter(lst-ctn-kix_eyo29nst4irj-4,lower-latin) ". "}
.lst-kix_n1m29nrfec71-0>li:before{content:"" counter(lst-ctn-kix_n1m29nrfec71-0,decimal) ". "}
.lst-kix_eyo29nst4irj-0>li:before{content:"" counter(lst-ctn-kix_eyo29nst4irj-0,decimal) ". "}
.lst-kix_eyo29nst4irj-2>li:before{content:"" counter(lst-ctn-kix_eyo29nst4irj-2,lower-roman) ". "}
.lst-kix_up96jaosvpq6-0>li{counter-increment:lst-ctn-kix_up96jaosvpq6-0}
.lst-kix_22tauakrpn2-2>li:before{content:"\0025a0   "}
.lst-kix_n1m29nrfec71-2>li:before{content:"" counter(lst-ctn-kix_n1m29nrfec71-2,lower-roman) ". "}
ol.lst-kix_3b2zck8uluwc-7.start{counter-reset:lst-ctn-kix_3b2zck8uluwc-7 0}
ol.lst-kix_eyo29nst4irj-6.start{counter-reset:lst-ctn-kix_eyo29nst4irj-6 0}
.lst-kix_16wbt3pr9zax-7>li:before{content:"\0025cb   "}
.lst-kix_22tauakrpn2-4>li:before{content:"\0025cb   "}
.lst-kix_22tauakrpn2-6>li:before{content:"\0025cf   "}
ol.lst-kix_up96jaosvpq6-0.start{counter-reset:lst-ctn-kix_up96jaosvpq6-0 0}
ul.lst-kix_m052mn8bbp4d-2{list-style-type:none}
ul.lst-kix_m052mn8bbp4d-3{list-style-type:none}
ul.lst-kix_m052mn8bbp4d-0{list-style-type:none}
ul.lst-kix_m052mn8bbp4d-1{list-style-type:none}
.lst-kix_22tauakrpn2-8>li:before{content:"\0025a0   "}
ul.lst-kix_m052mn8bbp4d-6{list-style-type:none}
ul.lst-kix_m052mn8bbp4d-7{list-style-type:none}
ul.lst-kix_m052mn8bbp4d-4{list-style-type:none}
.lst-kix_3b2zck8uluwc-5>li{counter-increment:lst-ctn-kix_3b2zck8uluwc-5}
ul.lst-kix_m052mn8bbp4d-5{list-style-type:none}
ul.lst-kix_m052mn8bbp4d-8{list-style-type:none}
.lst-kix_bpz23tgwzuut-5>li{counter-increment:lst-ctn-kix_bpz23tgwzuut-5}
.lst-kix_n1m29nrfec71-8>li:before{content:"" counter(lst-ctn-kix_n1m29nrfec71-8,lower-roman) ". "}
.lst-kix_eyo29nst4irj-4>li{counter-increment:lst-ctn-kix_eyo29nst4irj-4}
.lst-kix_3b2zck8uluwc-6>li{counter-increment:lst-ctn-kix_3b2zck8uluwc-6}
ol.lst-kix_bpz23tgwzuut-2.start{counter-reset:lst-ctn-kix_bpz23tgwzuut-2 0}
.lst-kix_511tz3o7zehv-1>li:before{content:"\0025cb   "}
.lst-kix_rgwm73280esx-5>li{counter-increment:lst-ctn-kix_rgwm73280esx-5}
.lst-kix_22tauakrpn2-1>li:before{content:"\0025cb   "}
.lst-kix_bpz23tgwzuut-6>li{counter-increment:lst-ctn-kix_bpz23tgwzuut-6}
ul.lst-kix_511tz3o7zehv-3{list-style-type:none}
ul.lst-kix_511tz3o7zehv-2{list-style-type:none}
ul.lst-kix_511tz3o7zehv-1{list-style-type:none}
ul.lst-kix_511tz3o7zehv-0{list-style-type:none}
.lst-kix_511tz3o7zehv-6>li:before{content:"\0025cf   "}
ul.lst-kix_511tz3o7zehv-7{list-style-type:none}
ul.lst-kix_511tz3o7zehv-6{list-style-type:none}
ul.lst-kix_511tz3o7zehv-5{list-style-type:none}
.lst-kix_m052mn8bbp4d-7>li:before{content:"\0025cb   "}
ol.lst-kix_n1m29nrfec71-2.start{counter-reset:lst-ctn-kix_n1m29nrfec71-2 0}
ul.lst-kix_511tz3o7zehv-4{list-style-type:none}
.lst-kix_511tz3o7zehv-5>li:before{content:"\0025a0   "}
.lst-kix_511tz3o7zehv-2>li:before{content:"\0025a0   "}
.lst-kix_o51t03xp34y-5>li:before{content:"\0025a0   "}
.lst-kix_o51t03xp34y-1>li:before{content:"\0025cb   "}
ol.lst-kix_bpz23tgwzuut-7.start{counter-reset:lst-ctn-kix_bpz23tgwzuut-7 0}
.lst-kix_o51t03xp34y-6>li:before{content:"\0025cf   "}
ol.lst-kix_n1m29nrfec71-8.start{counter-reset:lst-ctn-kix_n1m29nrfec71-8 0}
.lst-kix_rgwm73280esx-6>li:before{content:"" counter(lst-ctn-kix_rgwm73280esx-6,decimal) ". "}
.lst-kix_rgwm73280esx-5>li:before{content:"" counter(lst-ctn-kix_rgwm73280esx-5,lower-roman) ". "}
.lst-kix_eyo29nst4irj-6>li{counter-increment:lst-ctn-kix_eyo29nst4irj-6}
.lst-kix_rgwm73280esx-1>li:before{content:"" counter(lst-ctn-kix_rgwm73280esx-1,lower-latin) ". "}
.lst-kix_rgwm73280esx-2>li:before{content:"" counter(lst-ctn-kix_rgwm73280esx-2,lower-roman) ". "}
ol.lst-kix_n1m29nrfec71-1.start{counter-reset:lst-ctn-kix_n1m29nrfec71-1 0}
.lst-kix_n1m29nrfec71-5>li{counter-increment:lst-ctn-kix_n1m29nrfec71-5}
ol.lst-kix_n1m29nrfec71-7.start{counter-reset:lst-ctn-kix_n1m29nrfec71-7 0}
ol.lst-kix_bpz23tgwzuut-8.start{counter-reset:lst-ctn-kix_bpz23tgwzuut-8 0}
.lst-kix_o51t03xp34y-2>li:before{content:"\0025a0   "}
.lst-kix_eyo29nst4irj-8>li{counter-increment:lst-ctn-kix_eyo29nst4irj-8}
ul.lst-kix_22tauakrpn2-0{list-style-type:none}
ul.lst-kix_22tauakrpn2-2{list-style-type:none}
.lst-kix_3b2zck8uluwc-6>li:before{content:"" counter(lst-ctn-kix_3b2zck8uluwc-6,decimal) ". "}
ol.lst-kix_n1m29nrfec71-3.start{counter-reset:lst-ctn-kix_n1m29nrfec71-3 0}
ul.lst-kix_22tauakrpn2-1{list-style-type:none}
ul.lst-kix_22tauakrpn2-4{list-style-type:none}
ul.lst-kix_22tauakrpn2-3{list-style-type:none}
.lst-kix_kyjiir3phey-3>li:before{content:"\0025cf   "}
.lst-kix_kyjiir3phey-7>li:before{content:"\0025cb   "}
ol.lst-kix_n1m29nrfec71-6.start{counter-reset:lst-ctn-kix_n1m29nrfec71-6 0}
.lst-kix_up96jaosvpq6-3>li{counter-increment:lst-ctn-kix_up96jaosvpq6-3}
ol.lst-kix_bpz23tgwzuut-6.start{counter-reset:lst-ctn-kix_bpz23tgwzuut-6 0}
.lst-kix_16wbt3pr9zax-6>li:before{content:"\0025cf   "}
.lst-kix_2kd6hxpvjxik-3>li:before{content:"\0025cf   "}
.lst-kix_eyo29nst4irj-5>li:before{content:"" counter(lst-ctn-kix_eyo29nst4irj-5,lower-roman) ". "}
.lst-kix_rgwm73280esx-0>li{counter-increment:lst-ctn-kix_rgwm73280esx-0}
ol.lst-kix_bpz23tgwzuut-3.start{counter-reset:lst-ctn-kix_bpz23tgwzuut-3 0}
.lst-kix_16wbt3pr9zax-2>li:before{content:"\0025a0   "}
.lst-kix_iiz9vtgnyyiq-4>li:before{content:"\0025cb   "}
.lst-kix_3b2zck8uluwc-1>li{counter-increment:lst-ctn-kix_3b2zck8uluwc-1}
.lst-kix_2kd6hxpvjxik-7>li:before{content:"\0025cb   "}
.lst-kix_xju4acugwkw-6>li:before{content:"\0025cf   "}
.lst-kix_iiz9vtgnyyiq-8>li:before{content:"\0025a0   "}
.lst-kix_n1m29nrfec71-7>li{counter-increment:lst-ctn-kix_n1m29nrfec71-7}
.lst-kix_oalsrshfqrgk-0>li:before{content:"\0025cf   "}
.lst-kix_oalsrshfqrgk-4>li:before{content:"\0025cb   "}
.lst-kix_m052mn8bbp4d-3>li:before{content:"\0025cf   "}
.lst-kix_n1m29nrfec71-3>li:before{content:"" counter(lst-ctn-kix_n1m29nrfec71-3,decimal) ". "}
ol.lst-kix_bpz23tgwzuut-4.start{counter-reset:lst-ctn-kix_bpz23tgwzuut-4 0}
.lst-kix_eyo29nst4irj-1>li:before{content:"" counter(lst-ctn-kix_eyo29nst4irj-1,lower-latin) ". "}
ol.lst-kix_n1m29nrfec71-4.start{counter-reset:lst-ctn-kix_n1m29nrfec71-4 0}
.lst-kix_22tauakrpn2-5>li:before{content:"\0025a0   "}
.lst-kix_3b2zck8uluwc-8>li{counter-increment:lst-ctn-kix_3b2zck8uluwc-8}
.lst-kix_n1m29nrfec71-0>li{counter-increment:lst-ctn-kix_n1m29nrfec71-0}
.lst-kix_7un5p1x63f7z-6>li:before{content:"\0025cf   "}
.lst-kix_bpz23tgwzuut-3>li:before{content:"" counter(lst-ctn-kix_bpz23tgwzuut-3,decimal) ". "}
ul.lst-kix_22tauakrpn2-6{list-style-type:none}
ul.lst-kix_22tauakrpn2-5{list-style-type:none}
ul.lst-kix_22tauakrpn2-8{list-style-type:none}
ul.lst-kix_22tauakrpn2-7{list-style-type:none}
.lst-kix_bpz23tgwzuut-8>li{counter-increment:lst-ctn-kix_bpz23tgwzuut-8}
.lst-kix_xju4acugwkw-2>li:before{content:"\0025a0   "}
.lst-kix_n1m29nrfec71-7>li:before{content:"" counter(lst-ctn-kix_n1m29nrfec71-7,lower-latin) ". "}
.lst-kix_oalsrshfqrgk-8>li:before{content:"\0025a0   "}
.lst-kix_eyo29nst4irj-1>li{counter-increment:lst-ctn-kix_eyo29nst4irj-1}
.lst-kix_3b2zck8uluwc-2>li:before{content:"" counter(lst-ctn-kix_3b2zck8uluwc-2,lower-roman) ". "}
.lst-kix_rgwm73280esx-7>li{counter-increment:lst-ctn-kix_rgwm73280esx-7}
.lst-kix_7un5p1x63f7z-2>li:before{content:"\0025a0   "}
.lst-kix_bpz23tgwzuut-7>li:before{content:"" counter(lst-ctn-kix_bpz23tgwzuut-7,lower-latin) ". "}
ol.lst-kix_bpz23tgwzuut-5.start{counter-reset:lst-ctn-kix_bpz23tgwzuut-5 0}
ul.lst-kix_xju4acugwkw-0{list-style-type:none}
ul.lst-kix_xju4acugwkw-2{list-style-type:none}
ul.lst-kix_xju4acugwkw-1{list-style-type:none}
ul.lst-kix_xju4acugwkw-4{list-style-type:none}
ul.lst-kix_xju4acugwkw-3{list-style-type:none}
ul.lst-kix_xju4acugwkw-6{list-style-type:none}
ul.lst-kix_xju4acugwkw-5{list-style-type:none}
ul.lst-kix_xju4acugwkw-8{list-style-type:none}
ul.lst-kix_xju4acugwkw-7{list-style-type:none}
.lst-kix_jc4jft7gc8vd-0>li:before{content:"\0025cf   "}
.lst-kix_eyo29nst4irj-3>li{counter-increment:lst-ctn-kix_eyo29nst4irj-3}
.lst-kix_7phhxrxnt0hh-8>li:before{content:"\0025a0   "}
.lst-kix_jc4jft7gc8vd-1>li:before{content:"\0025cb   "}
.lst-kix_jc4jft7gc8vd-2>li:before{content:"\0025a0   "}
.lst-kix_7phhxrxnt0hh-6>li:before{content:"\0025cf   "}
.lst-kix_jc4jft7gc8vd-3>li:before{content:"\0025cf   "}
.lst-kix_jc4jft7gc8vd-4>li:before{content:"\0025cb   "}
.lst-kix_7phhxrxnt0hh-5>li:before{content:"\0025a0   "}
.lst-kix_7phhxrxnt0hh-7>li:before{content:"\0025cb   "}
.lst-kix_7phhxrxnt0hh-2>li:before{content:"\0025a0   "}
.lst-kix_7phhxrxnt0hh-1>li:before{content:"\0025cb   "}
.lst-kix_7phhxrxnt0hh-3>li:before{content:"\0025cf   "}
.lst-kix_7phhxrxnt0hh-0>li:before{content:"\0025cf   "}
.lst-kix_7phhxrxnt0hh-4>li:before{content:"\0025cb   "}
.lst-kix_bpz23tgwzuut-3>li{counter-increment:lst-ctn-kix_bpz23tgwzuut-3}
ol.lst-kix_n1m29nrfec71-5{list-style-type:none}
ol.lst-kix_n1m29nrfec71-4{list-style-type:none}
ol.lst-kix_n1m29nrfec71-3{list-style-type:none}
ol.lst-kix_n1m29nrfec71-2{list-style-type:none}
ol.lst-kix_eyo29nst4irj-2.start{counter-reset:lst-ctn-kix_eyo29nst4irj-2 0}
ol.lst-kix_n1m29nrfec71-1{list-style-type:none}
ol.lst-kix_n1m29nrfec71-0{list-style-type:none}
.lst-kix_3b2zck8uluwc-7>li{counter-increment:lst-ctn-kix_3b2zck8uluwc-7}
ol.lst-kix_3b2zck8uluwc-8.start{counter-reset:lst-ctn-kix_3b2zck8uluwc-8 0}
ol.lst-kix_n1m29nrfec71-5.start{counter-reset:lst-ctn-kix_n1m29nrfec71-5 0}
ol.lst-kix_n1m29nrfec71-8{list-style-type:none}
ol.lst-kix_n1m29nrfec71-7{list-style-type:none}
ol.lst-kix_bpz23tgwzuut-0.start{counter-reset:lst-ctn-kix_bpz23tgwzuut-0 0}
ol.lst-kix_n1m29nrfec71-6{list-style-type:none}
.lst-kix_bpz23tgwzuut-7>li{counter-increment:lst-ctn-kix_bpz23tgwzuut-7}
ol.lst-kix_3b2zck8uluwc-3.start{counter-reset:lst-ctn-kix_3b2zck8uluwc-3 0}
.lst-kix_3b2zck8uluwc-3>li{counter-increment:lst-ctn-kix_3b2zck8uluwc-3}
.lst-kix_jayf3mcf9cmq-1>li:before{content:"\0025cb   "}
.lst-kix_jayf3mcf9cmq-2>li:before{content:"\0025a0   "}
.lst-kix_jayf3mcf9cmq-3>li:before{content:"\0025cf   "}
.lst-kix_jayf3mcf9cmq-4>li:before{content:"\0025cb   "}
.lst-kix_jayf3mcf9cmq-5>li:before{content:"\0025a0   "}
.lst-kix_jayf3mcf9cmq-8>li:before{content:"\0025a0   "}
.lst-kix_jayf3mcf9cmq-6>li:before{content:"\0025cf   "}
.lst-kix_jayf3mcf9cmq-7>li:before{content:"\0025cb   "}
.lst-kix_jc4jft7gc8vd-7>li:before{content:"\0025cb   "}
.lst-kix_jc4jft7gc8vd-8>li:before{content:"\0025a0   "}
ol.lst-kix_rgwm73280esx-6.start{counter-reset:lst-ctn-kix_rgwm73280esx-6 0}
.lst-kix_jc4jft7gc8vd-5>li:before{content:"\0025a0   "}
.lst-kix_jc4jft7gc8vd-6>li:before{content:"\0025cf   "}
ol.lst-kix_up96jaosvpq6-2.start{counter-reset:lst-ctn-kix_up96jaosvpq6-2 0}
.lst-kix_n1m29nrfec71-2>li{counter-increment:lst-ctn-kix_n1m29nrfec71-2}
ul.lst-kix_iiz9vtgnyyiq-0{list-style-type:none}
ul.lst-kix_iiz9vtgnyyiq-3{list-style-type:none}
ul.lst-kix_iiz9vtgnyyiq-4{list-style-type:none}
ul.lst-kix_iiz9vtgnyyiq-1{list-style-type:none}
ul.lst-kix_iiz9vtgnyyiq-2{list-style-type:none}
ul.lst-kix_iiz9vtgnyyiq-7{list-style-type:none}
ul.lst-kix_iiz9vtgnyyiq-8{list-style-type:none}
ul.lst-kix_iiz9vtgnyyiq-5{list-style-type:none}
ul.lst-kix_iiz9vtgnyyiq-6{list-style-type:none}
ol.lst-kix_n1m29nrfec71-0.start{counter-reset:lst-ctn-kix_n1m29nrfec71-0 0}
.lst-kix_jayf3mcf9cmq-0>li:before{content:"\0025cf   "}
ul.lst-kix_jayf3mcf9cmq-2{list-style-type:none}
ul.lst-kix_jayf3mcf9cmq-3{list-style-type:none}
ul.lst-kix_jayf3mcf9cmq-4{list-style-type:none}
ul.lst-kix_jayf3mcf9cmq-5{list-style-type:none}
ul.lst-kix_jayf3mcf9cmq-6{list-style-type:none}
ul.lst-kix_jayf3mcf9cmq-7{list-style-type:none}
ul.lst-kix_jayf3mcf9cmq-8{list-style-type:none}
.lst-kix_3b2zck8uluwc-3>li:before{content:"" counter(lst-ctn-kix_3b2zck8uluwc-3,decimal) ". "}
.lst-kix_3b2zck8uluwc-7>li:before{content:"" counter(lst-ctn-kix_3b2zck8uluwc-7,lower-latin) ". "}
.lst-kix_kyjiir3phey-8>li:before{content:"\0025a0   "}
ol.lst-kix_eyo29nst4irj-4.start{counter-reset:lst-ctn-kix_eyo29nst4irj-4 0}
.lst-kix_3b2zck8uluwc-0>li{counter-increment:lst-ctn-kix_3b2zck8uluwc-0}
ul.lst-kix_7un5p1x63f7z-7{list-style-type:none}
.lst-kix_3b2zck8uluwc-5>li:before{content:"" counter(lst-ctn-kix_3b2zck8uluwc-5,lower-roman) ". "}
ul.lst-kix_7un5p1x63f7z-8{list-style-type:none}
.lst-kix_7un5p1x63f7z-7>li:before{content:"\0025cb   "}
.lst-kix_kyjiir3phey-4>li:before{content:"\0025cb   "}
.lst-kix_kyjiir3phey-6>li:before{content:"\0025cf   "}
ul.lst-kix_jayf3mcf9cmq-0{list-style-type:none}
ul.lst-kix_jayf3mcf9cmq-1{list-style-type:none}
ol.lst-kix_eyo29nst4irj-0{list-style-type:none}
ol.lst-kix_eyo29nst4irj-4{list-style-type:none}
ol.lst-kix_eyo29nst4irj-3{list-style-type:none}
ol.lst-kix_eyo29nst4irj-2{list-style-type:none}
.lst-kix_bpz23tgwzuut-0>li{counter-increment:lst-ctn-kix_bpz23tgwzuut-0}
ol.lst-kix_eyo29nst4irj-1{list-style-type:none}
ol.lst-kix_eyo29nst4irj-8{list-style-type:none}
ol.lst-kix_eyo29nst4irj-7{list-style-type:none}
ol.lst-kix_eyo29nst4irj-6{list-style-type:none}
ol.lst-kix_eyo29nst4irj-5{list-style-type:none}
.lst-kix_kyjiir3phey-0>li:before{content:"\0025cf   "}
.lst-kix_kyjiir3phey-2>li:before{content:"\0025a0   "}
ol.lst-kix_rgwm73280esx-1.start{counter-reset:lst-ctn-kix_rgwm73280esx-1 0}
ol.lst-kix_rgwm73280esx-4.start{counter-reset:lst-ctn-kix_rgwm73280esx-4 0}
.lst-kix_xju4acugwkw-7>li:before{content:"\0025cb   "}
.lst-kix_oalsrshfqrgk-1>li:before{content:"\0025cb   "}
.lst-kix_oalsrshfqrgk-3>li:before{content:"\0025cf   "}
ul.lst-kix_jc4jft7gc8vd-0{list-style-type:none}
.lst-kix_xju4acugwkw-3>li:before{content:"\0025cf   "}
.lst-kix_xju4acugwkw-5>li:before{content:"\0025a0   "}
.lst-kix_oalsrshfqrgk-5>li:before{content:"\0025a0   "}
.lst-kix_oalsrshfqrgk-7>li:before{content:"\0025cb   "}
.lst-kix_m052mn8bbp4d-6>li:before{content:"\0025cf   "}
.lst-kix_m052mn8bbp4d-4>li:before{content:"\0025cb   "}
.lst-kix_m052mn8bbp4d-0>li:before{content:"\0025cf   "}
.lst-kix_up96jaosvpq6-6>li{counter-increment:lst-ctn-kix_up96jaosvpq6-6}
ul.lst-kix_jc4jft7gc8vd-5{list-style-type:none}
ul.lst-kix_jc4jft7gc8vd-6{list-style-type:none}
ul.lst-kix_jc4jft7gc8vd-7{list-style-type:none}
ul.lst-kix_jc4jft7gc8vd-8{list-style-type:none}
.lst-kix_m052mn8bbp4d-2>li:before{content:"\0025a0   "}
ul.lst-kix_jc4jft7gc8vd-1{list-style-type:none}
ul.lst-kix_jc4jft7gc8vd-2{list-style-type:none}
ul.lst-kix_jc4jft7gc8vd-3{list-style-type:none}
ul.lst-kix_jc4jft7gc8vd-4{list-style-type:none}
.lst-kix_bpz23tgwzuut-0>li:before{content:"" counter(lst-ctn-kix_bpz23tgwzuut-0,decimal) ". "}
ol.lst-kix_3b2zck8uluwc-7{list-style-type:none}
ol.lst-kix_3b2zck8uluwc-6{list-style-type:none}
ol.lst-kix_3b2zck8uluwc-8{list-style-type:none}
.lst-kix_bpz23tgwzuut-2>li:before{content:"" counter(lst-ctn-kix_bpz23tgwzuut-2,lower-roman) ". "}
.lst-kix_bpz23tgwzuut-4>li:before{content:"" counter(lst-ctn-kix_bpz23tgwzuut-4,lower-latin) ". "}
ul.lst-kix_7un5p1x63f7z-5{list-style-type:none}
ul.lst-kix_7un5p1x63f7z-6{list-style-type:none}
ul.lst-kix_7un5p1x63f7z-3{list-style-type:none}
.lst-kix_xju4acugwkw-1>li:before{content:"\0025cb   "}
ul.lst-kix_7un5p1x63f7z-4{list-style-type:none}
.lst-kix_7un5p1x63f7z-5>li:before{content:"\0025a0   "}
.lst-kix_bpz23tgwzuut-6>li:before{content:"" counter(lst-ctn-kix_bpz23tgwzuut-6,decimal) ". "}
.lst-kix_bpz23tgwzuut-8>li:before{content:"" counter(lst-ctn-kix_bpz23tgwzuut-8,lower-roman) ". "}
ul.lst-kix_7un5p1x63f7z-1{list-style-type:none}
ul.lst-kix_7un5p1x63f7z-2{list-style-type:none}
ol.lst-kix_3b2zck8uluwc-6.start{counter-reset:lst-ctn-kix_3b2zck8uluwc-6 0}
ul.lst-kix_7un5p1x63f7z-0{list-style-type:none}
ol.lst-kix_eyo29nst4irj-7.start{counter-reset:lst-ctn-kix_eyo29nst4irj-7 0}
ol.lst-kix_3b2zck8uluwc-3{list-style-type:none}
ol.lst-kix_3b2zck8uluwc-2{list-style-type:none}
ol.lst-kix_3b2zck8uluwc-5{list-style-type:none}
.lst-kix_rgwm73280esx-4>li{counter-increment:lst-ctn-kix_rgwm73280esx-4}
.lst-kix_7un5p1x63f7z-1>li:before{content:"\0025cb   "}
.lst-kix_7un5p1x63f7z-3>li:before{content:"\0025cf   "}
ol.lst-kix_3b2zck8uluwc-4{list-style-type:none}
.lst-kix_3b2zck8uluwc-1>li:before{content:"" counter(lst-ctn-kix_3b2zck8uluwc-1,lower-latin) ". "}
ol.lst-kix_3b2zck8uluwc-1{list-style-type:none}
ol.lst-kix_3b2zck8uluwc-0{list-style-type:none}
.lst-kix_eyo29nst4irj-2>li{counter-increment:lst-ctn-kix_eyo29nst4irj-2}
.lst-kix_bpz23tgwzuut-4>li{counter-increment:lst-ctn-kix_bpz23tgwzuut-4}
.lst-kix_rgwm73280esx-3>li{counter-increment:lst-ctn-kix_rgwm73280esx-3}
ol.lst-kix_3b2zck8uluwc-5.start{counter-reset:lst-ctn-kix_3b2zck8uluwc-5 0}
ol.lst-kix_rgwm73280esx-3.start{counter-reset:lst-ctn-kix_rgwm73280esx-3 0}
.lst-kix_n1m29nrfec71-3>li{counter-increment:lst-ctn-kix_n1m29nrfec71-3}
ol.lst-kix_eyo29nst4irj-5.start{counter-reset:lst-ctn-kix_eyo29nst4irj-5 0}
.lst-kix_511tz3o7zehv-0>li:before{content:"\0025cf   "}
.lst-kix_22tauakrpn2-0>li:before{content:"\0025cf   "}
.lst-kix_511tz3o7zehv-7>li:before{content:"\0025cb   "}
ul.lst-kix_oalsrshfqrgk-4{list-style-type:none}
ul.lst-kix_oalsrshfqrgk-5{list-style-type:none}
ul.lst-kix_oalsrshfqrgk-6{list-style-type:none}
ul.lst-kix_oalsrshfqrgk-7{list-style-type:none}
ul.lst-kix_oalsrshfqrgk-8{list-style-type:none}
.lst-kix_m052mn8bbp4d-8>li:before{content:"\0025a0   "}
ul.lst-kix_z4qs3dseu2-5{list-style-type:none}
ul.lst-kix_z4qs3dseu2-6{list-style-type:none}
ul.lst-kix_z4qs3dseu2-7{list-style-type:none}
.lst-kix_511tz3o7zehv-4>li:before{content:"\0025cb   "}
ul.lst-kix_z4qs3dseu2-8{list-style-type:none}
.lst-kix_3b2zck8uluwc-4>li{counter-increment:lst-ctn-kix_3b2zck8uluwc-4}
.lst-kix_n1m29nrfec71-1>li{counter-increment:lst-ctn-kix_n1m29nrfec71-1}
.lst-kix_511tz3o7zehv-3>li:before{content:"\0025cf   "}
ol.lst-kix_up96jaosvpq6-1.start{counter-reset:lst-ctn-kix_up96jaosvpq6-1 0}
ul.lst-kix_2kd6hxpvjxik-2{list-style-type:none}
.lst-kix_o51t03xp34y-3>li:before{content:"\0025cf   "}
.lst-kix_o51t03xp34y-4>li:before{content:"\0025cb   "}
ul.lst-kix_2kd6hxpvjxik-3{list-style-type:none}
ul.lst-kix_2kd6hxpvjxik-0{list-style-type:none}
ul.lst-kix_2kd6hxpvjxik-1{list-style-type:none}
ul.lst-kix_z4qs3dseu2-0{list-style-type:none}
ul.lst-kix_2kd6hxpvjxik-6{list-style-type:none}
ul.lst-kix_z4qs3dseu2-1{list-style-type:none}
ul.lst-kix_2kd6hxpvjxik-7{list-style-type:none}
ul.lst-kix_z4qs3dseu2-2{list-style-type:none}
ul.lst-kix_2kd6hxpvjxik-4{list-style-type:none}
ul.lst-kix_z4qs3dseu2-3{list-style-type:none}
.lst-kix_rgwm73280esx-8>li:before{content:"" counter(lst-ctn-kix_rgwm73280esx-8,lower-roman) ". "}
ul.lst-kix_2kd6hxpvjxik-5{list-style-type:none}
ul.lst-kix_z4qs3dseu2-4{list-style-type:none}
.lst-kix_o51t03xp34y-0>li:before{content:"\0025cf   "}
.lst-kix_o51t03xp34y-7>li:before{content:"\0025cb   "}
.lst-kix_o51t03xp34y-8>li:before{content:"\0025a0   "}
ul.lst-kix_2kd6hxpvjxik-8{list-style-type:none}
.lst-kix_rgwm73280esx-7>li:before{content:"" counter(lst-ctn-kix_rgwm73280esx-7,lower-latin) ". "}
ul.lst-kix_oalsrshfqrgk-0{list-style-type:none}
ul.lst-kix_oalsrshfqrgk-1{list-style-type:none}
.lst-kix_up96jaosvpq6-7>li{counter-increment:lst-ctn-kix_up96jaosvpq6-7}
ul.lst-kix_oalsrshfqrgk-2{list-style-type:none}
ul.lst-kix_oalsrshfqrgk-3{list-style-type:none}
.lst-kix_eyo29nst4irj-0>li{counter-increment:lst-ctn-kix_eyo29nst4irj-0}
.lst-kix_511tz3o7zehv-8>li:before{content:"\0025a0   "}
.lst-kix_rgwm73280esx-3>li:before{content:"" counter(lst-ctn-kix_rgwm73280esx-3,decimal) ". "}
ol.lst-kix_rgwm73280esx-8{list-style-type:none}
.lst-kix_rgwm73280esx-4>li:before{content:"" counter(lst-ctn-kix_rgwm73280esx-4,lower-latin) ". "}
ol.lst-kix_rgwm73280esx-5{list-style-type:none}
ol.lst-kix_rgwm73280esx-4{list-style-type:none}
ol.lst-kix_rgwm73280esx-7{list-style-type:none}
ol.lst-kix_rgwm73280esx-6{list-style-type:none}
ol.lst-kix_rgwm73280esx-1{list-style-type:none}
ol.lst-kix_rgwm73280esx-0{list-style-type:none}
ol.lst-kix_rgwm73280esx-3{list-style-type:none}
ol.lst-kix_rgwm73280esx-2{list-style-type:none}
ul.lst-kix_16wbt3pr9zax-8{list-style-type:none}
.lst-kix_rgwm73280esx-0>li:before{content:"" counter(lst-ctn-kix_rgwm73280esx-0,decimal) ". "}
ul.lst-kix_16wbt3pr9zax-4{list-style-type:none}
ul.lst-kix_16wbt3pr9zax-5{list-style-type:none}
ul.lst-kix_16wbt3pr9zax-6{list-style-type:none}
ul.lst-kix_16wbt3pr9zax-7{list-style-type:none}
ul.lst-kix_16wbt3pr9zax-0{list-style-type:none}
ul.lst-kix_16wbt3pr9zax-1{list-style-type:none}
ul.lst-kix_16wbt3pr9zax-2{list-style-type:none}
ul.lst-kix_16wbt3pr9zax-3{list-style-type:none}
.lst-kix_3b2zck8uluwc-4>li:before{content:"" counter(lst-ctn-kix_3b2zck8uluwc-4,lower-latin) ". "}
ol.lst-kix_rgwm73280esx-7.start{counter-reset:lst-ctn-kix_rgwm73280esx-7 0}
.lst-kix_up96jaosvpq6-4>li{counter-increment:lst-ctn-kix_up96jaosvpq6-4}
ol.lst-kix_3b2zck8uluwc-1.start{counter-reset:lst-ctn-kix_3b2zck8uluwc-1 0}
ul.lst-kix_7phhxrxnt0hh-1{list-style-type:none}
ul.lst-kix_7phhxrxnt0hh-0{list-style-type:none}
ul.lst-kix_7phhxrxnt0hh-3{list-style-type:none}
ul.lst-kix_7phhxrxnt0hh-2{list-style-type:none}
.lst-kix_7un5p1x63f7z-8>li:before{content:"\0025a0   "}
.lst-kix_3b2zck8uluwc-8>li:before{content:"" counter(lst-ctn-kix_3b2zck8uluwc-8,lower-roman) ". "}
ul.lst-kix_7phhxrxnt0hh-8{list-style-type:none}
ol.lst-kix_eyo29nst4irj-1.start{counter-reset:lst-ctn-kix_eyo29nst4irj-1 0}
ul.lst-kix_7phhxrxnt0hh-5{list-style-type:none}
ul.lst-kix_7phhxrxnt0hh-4{list-style-type:none}
ul.lst-kix_7phhxrxnt0hh-7{list-style-type:none}
ul.lst-kix_7phhxrxnt0hh-6{list-style-type:none}
.lst-kix_kyjiir3phey-5>li:before{content:"\0025a0   "}
.lst-kix_rgwm73280esx-8>li{counter-increment:lst-ctn-kix_rgwm73280esx-8}
.lst-kix_up96jaosvpq6-2>li{counter-increment:lst-ctn-kix_up96jaosvpq6-2}
ol.lst-kix_up96jaosvpq6-7.start{counter-reset:lst-ctn-kix_up96jaosvpq6-7 0}
.lst-kix_2kd6hxpvjxik-1>li:before{content:"\0025cb   "}
.lst-kix_16wbt3pr9zax-4>li:before{content:"\0025cb   "}
.lst-kix_kyjiir3phey-1>li:before{content:"\0025cb   "}
ol.lst-kix_up96jaosvpq6-4.start{counter-reset:lst-ctn-kix_up96jaosvpq6-4 0}
.lst-kix_16wbt3pr9zax-0>li:before{content:"\0025cf   "}
.lst-kix_2kd6hxpvjxik-5>li:before{content:"\0025a0   "}
.lst-kix_eyo29nst4irj-7>li:before{content:"" counter(lst-ctn-kix_eyo29nst4irj-7,lower-latin) ". "}
.lst-kix_iiz9vtgnyyiq-6>li:before{content:"\0025cf   "}
.lst-kix_xju4acugwkw-8>li:before{content:"\0025a0   "}
.lst-kix_rgwm73280esx-1>li{counter-increment:lst-ctn-kix_rgwm73280esx-1}
.lst-kix_xju4acugwkw-4>li:before{content:"\0025cb   "}
.lst-kix_m052mn8bbp4d-5>li:before{content:"\0025a0   "}
.lst-kix_n1m29nrfec71-5>li:before{content:"" counter(lst-ctn-kix_n1m29nrfec71-5,lower-roman) ". "}
.lst-kix_oalsrshfqrgk-6>li:before{content:"\0025cf   "}
.lst-kix_n1m29nrfec71-6>li{counter-increment:lst-ctn-kix_n1m29nrfec71-6}
.lst-kix_eyo29nst4irj-3>li:before{content:"" counter(lst-ctn-kix_eyo29nst4irj-3,decimal) ". "}
ol.lst-kix_rgwm73280esx-8.start{counter-reset:lst-ctn-kix_rgwm73280esx-8 0}
ol.lst-kix_up96jaosvpq6-5.start{counter-reset:lst-ctn-kix_up96jaosvpq6-5 0}
.lst-kix_m052mn8bbp4d-1>li:before{content:"\0025cb   "}
.lst-kix_n1m29nrfec71-1>li:before{content:"" counter(lst-ctn-kix_n1m29nrfec71-1,lower-latin) ". "}
.lst-kix_oalsrshfqrgk-2>li:before{content:"\0025a0   "}
.lst-kix_22tauakrpn2-3>li:before{content:"\0025cf   "}
.lst-kix_16wbt3pr9zax-8>li:before{content:"\0025a0   "}
.lst-kix_7un5p1x63f7z-0>li:before{content:"\0025cf   "}
.lst-kix_bpz23tgwzuut-1>li:before{content:"" counter(lst-ctn-kix_bpz23tgwzuut-1,lower-latin) ". "}
.lst-kix_3b2zck8uluwc-2>li{counter-increment:lst-ctn-kix_3b2zck8uluwc-2}
ol.lst-kix_eyo29nst4irj-0.start{counter-reset:lst-ctn-kix_eyo29nst4irj-0 0}
li.li-bullet-0:before{margin-left:-18pt;white-space:nowrap;display:inline-block;min-width:18pt}
.lst-kix_22tauakrpn2-7>li:before{content:"\0025cb   "}
.lst-kix_xju4acugwkw-0>li:before{content:"\0025cf   "}
.lst-kix_bpz23tgwzuut-2>li{counter-increment:lst-ctn-kix_bpz23tgwzuut-2}
ol.lst-kix_3b2zck8uluwc-0.start{counter-reset:lst-ctn-kix_3b2zck8uluwc-0 0}
.lst-kix_7un5p1x63f7z-4>li:before{content:"\0025cb   "}
.lst-kix_bpz23tgwzuut-5>li:before{content:"" counter(lst-ctn-kix_bpz23tgwzuut-5,lower-roman) ". "}
.lst-kix_3b2zck8uluwc-0>li:before{content:"" counter(lst-ctn-kix_3b2zck8uluwc-0,decimal) ". "}
.lst-kix_eyo29nst4irj-7>li{counter-increment:lst-ctn-kix_eyo29nst4irj-7}
ol.lst-kix_up96jaosvpq6-6.start{counter-reset:lst-ctn-kix_up96jaosvpq6-6 0}
ol{margin:0;padding:0}
table td,table th{padding:0}
.c9{color:#000000;font-weight:700;text-decoration:none;vertical-align:baseline;font-size:12pt;font-family:"Calibri";font-style:normal}
.c0{color:#000000;font-weight:400;text-decoration:none;vertical-align:baseline;font-size:12pt;font-family:"Calibri";font-style:normal}
.c13{-webkit-text-decoration-skip:none;color:#000000;text-decoration:underline;vertical-align:baseline;text-decoration-skip-ink:none;font-size:12pt;font-style:normal}
.c10{margin-left:36pt;padding-top:0pt;padding-bottom:0pt;line-height:1.0;padding-left:0pt;text-align:left}
.c5{margin-left:36pt;padding-top:0pt;padding-bottom:0pt;line-height:1.0;text-align:left;margin-right:66.6pt}
.c1{margin-left:36pt;padding-top:12pt;padding-bottom:12pt;line-height:1.0;padding-left:0pt;text-align:left}
.c8{margin-left:36pt;padding-top:0pt;padding-bottom:0pt;line-height:1.0;text-align:left;margin-right:36pt}
.c3{padding-top:12pt;padding-bottom:12pt;line-height:1.0;text-align:left}
.c11{text-decoration-skip-ink:none;-webkit-text-decoration-skip:none;color:#1155cc;text-decoration:underline}
.c15{padding-top:0pt;padding-bottom:0pt;line-height:1.0;text-align:left}
.c6{padding-top:12pt;padding-bottom:12pt;line-height:1.0;text-align:center}
.c19{color:#000000;text-decoration:none;vertical-align:baseline;font-style:normal}
.c21{background-color:#ffffff;max-width:498.6pt;padding:56.7pt 56.7pt 56.7pt 56.7pt}
.c18{text-decoration-skip-ink:none;-webkit-text-decoration-skip:none;text-decoration:underline}
.c2{font-size:15pt;font-weight:700;font-family:"Calibri"}
.c12{color:inherit;text-decoration:inherit}
.c7{font-weight:400;font-family:"Calibri"}
.c4{padding:0;margin:0}
.c17{font-weight:700;font-family:"Calibri"}
.c16{height:12pt}
.c22{font-size:20pt}
.c20{font-size:18pt}
.c23{font-size:15pt}
.c14{font-style:italic}
.title{padding-top:24pt;color:#000000;font-weight:700;font-size:36pt;padding-bottom:6pt;font-family:"Times New Roman";line-height:1.0;page-break-after:avoid;text-align:left}
.subtitle{padding-top:18pt;color:#666666;font-size:24pt;padding-bottom:4pt;font-family:"Georgia";line-height:1.0;page-break-after:avoid;font-style:italic;text-align:left}
li{color:#000000;font-size:12pt;font-family:"Times New Roman"}
p{margin:0;color:#000000;font-size:12pt;font-family:"Times New Roman"}
h1{padding-top:24pt;color:#000000;font-weight:700;font-size:24pt;padding-bottom:6pt;font-family:"Times New Roman";line-height:1.0;page-break-after:avoid;text-align:left}
h2{padding-top:18pt;color:#000000;font-weight:700;font-size:18pt;padding-bottom:4pt;font-family:"Times New Roman";line-height:1.0;page-break-after:avoid;text-align:left}
h3{padding-top:14pt;color:#000000;font-weight:700;font-size:14pt;padding-bottom:4pt;font-family:"Times New Roman";line-height:1.0;page-break-after:avoid;text-align:left}
h4{padding-top:12pt;color:#000000;font-weight:700;font-size:12pt;padding-bottom:2pt;font-family:"Times New Roman";line-height:1.0;page-break-after:avoid;text-align:left}
h5{padding-top:11pt;color:#000000;font-weight:700;font-size:11pt;padding-bottom:2pt;font-family:"Times New Roman";line-height:1.0;page-break-after:avoid;text-align:left}
h6{padding-top:10pt;color:#000000;font-weight:700;font-size:10pt;padding-bottom:2pt;font-family:"Times New Roman";line-height:1.0;page-break-after:avoid;text-align:left}
</style>

*/