
body {
    background: linear-gradient(#789, #567, #789);
    font-family: Calibri;
    font-size: 12px;
}

h1 {
    text-align: center;
    font-family: 'Yatra One';
}

h2 {
    text-align: center;
    font-weight: bold;
}

h3 {
    font-weight: bold;
    font-size: inherit;
}

section {
    max-width: 800px;
    margin: auto;
}

.preamble  {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sc-docs-list {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.claim {
    text-decoration: underline;
}

img {
    width: 100%;
    border: 1px black solid;
    margin: auto;
}

.dialog {
    margin: 0 2em;
}

.nerd {
    font-weight: bold;
}